.cover {
  padding: 92px 48px 0 48px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .cover {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}
