.footer {
  display: flex;
  margin: 92px auto 24px auto;
  column-gap: 18px;
  align-items: center;
  padding: 0 48px;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media (max-width: 690px) {
  .footer {
    margin-top: 64px;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-start;
  }
}
